@use "sass:math";
$button-themes: primary danger secondary;

$color-text: #142d55;
$color-text-secondary: rgba($color-text, 0.75);
$color-text-tertiary: rgba($color-text, 0.5);
$color-text-quaternary: rgba($color-text, 0.25);

$color-primary: #3273e1;
$color-secondary: #1ecde1;
$color-warning: #ff7d00;
$color-danger: #eb5569;
$color-success: #19d78c;
$color-info: #96a5be;

$colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "warning": $color-warning,
  "danger": $color-danger,
  "success": $color-success,
  "info": $color-info
);

$bg-secondary: rgba($color-text, 0.02);
$bg-danger: rgba($color-danger, 0.15);

$font-size-small: 13px;
$font-size-base: 14px;
$font-size-big: 15px;
$font-size-large: 17px;

$border-width: 1px;
$border-radius: 2px;
$border-color: rgba($color-text, 0.1);
$border: $border-width solid $border-color;

$spacer: 20px;
$spacer-sm: math.div($spacer, 2);
$spacer-xs: math.div($spacer, 2);

$button-outline-hover-bg-opacity: 0.1;

$toolbar-height: 37px;

$table-border-color: mix($color-text, #fff, 15%);

$hover-transition-speed: 0.25s;
